body{
    background-color: #240c04;
    padding: 0 20px;
    font-size: 20px;
}
h1,h2{
    font-family: 'Charm',cursive;
}
h1{
    color: #F9B51D;
    font-size: 80px;
}
ul{
    display: flex;
    justify-content: center;
    background-color: #403131;
}
ul a{
    margin-right: 28px;
    color: #F9B51D;
    text-decoration: none;
    display: block;
    padding: 8px 0;
    
    
}
li{
    list-style: none;
}
#sidebar{
    background-color: #4E3628;
    width: 420px;
    position: absolute;
    top: 258px;
    right: 20px;
    box-sizing: border-box;
    padding: 15px;

}
section{
    background-color: #4E3628;
    box-sizing: border-box;
    width: 870px;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 10px;
    position: relative;
}
article h2 a{
    color: #ECDFAD;
    text-decoration: none;
}
article p{
    color: #FFF;
}
.pagination a{
    text-decoration: none;
    color: #ECDFAD;

}
.pagination{
    display: inline-block;
    background-color: #1E1A17;
    padding: 7px;
    border-radius: 6px;
    border: 2px solid #9C8070;
    position: absolute;
    right: 20px;
    bottom: 15px;
    
}
aside h2{
    color: #D15429;
    font-size: 25px;
}
aside p a{
    text-decoration: none;
    color: #ECDFAD;
    font-size: 17px;
}
aside p{
    line-height: 16px;
}

#valider{
    background-color: #2C2119;
    color: #FFF;
    border: 2px solid #9C8070;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    padding: 7px;
    
}
form{
    margin-bottom: 50px;
}
#champ{
    background-color: #9C8070;
    padding: 5px;
    border: 2px solid #2C2119;
}
footer{
    color: #FFF;  
}
img{
    border: 5px solid #6B493B;
}
.ar3{
    margin-bottom: 90px;
    padding-top: 30px;
}
.ar2{
    padding-bottom: 20px;
    padding-top: 20px;
}
.ar1{
    padding-bottom: 20px;
}

